.sf-home{
  &__customers{
    margin: 80px 0;
    .container-fluid{
      .row{
        justify-content: space-between;
        align-items: center;
        .col{
          width: 150px;
        }
      }
    }
  }

  &__services{
    margin: 80px 0;
    &__item{
      text-align: center;
      padding: 0 60px;

      &__icon{
        background-color: $sf-gray-lg;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 35px;
      }

      &__title{
        margin-bottom: 18px;
        color: $sf-navy;
      }

      &__text{
        margin-bottom: 28px;
      }

      &:hover{
        transition: all .35s ease-in-out;
        
        .sf-home__services__item__icon{
          transition: all .35s ease-in-out;
          background-color: $sf-blue;
        }
        .sf-home__services__item__title{
          transition: all .35s ease-in-out;
          color: $sf-blue;
        }
      }
    }
  }

  &__platform{
    &__text{
      padding: 15% 0;
      p{
        margin: 32px 0 50px;
      }
    }
    &__img{
      img{
        width: 100%;
      }
    }
  }

  &__work{
    background: linear-gradient(107deg, $sf-blue 0%, $sf-blue-dk 100%);
    color: $sf-white;
    h2{
      margin-bottom: 80px;
      width: 60%;
    }
    &__texts{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 80px;
      &__number{
        margin-bottom: 30px;
        p{
          width: 100px;
          height: 100px;
          font-size: 45px;
          font-weight: 700;
          background-color: $sf-white;
          color: $sf-blue-dk;
          border-radius: 50%;
          padding: 18px;
          text-align: center;
        }
      }
    }

    &__video{
      padding-top: 20px;
      iframe{
        border-radius: 20px;
      }
    }
  }
}