.sf-home{
  &__customers{
    margin: 80px 0;
    .container-fluid{
      .row{
        justify-content: space-between;
        align-items: center;
        .col{
          width: 150px;
        }
      }
    }
  }

  &__services{
    margin: 80px 0;
    &__item{
      text-align: center;
      padding: 0 60px;

      &__icon{
        background-color: $sf-gray-lg;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 35px;
      }

      &__title{
        margin-bottom: 18px;
        color: $sf-navy;
      }

      &__text{
        margin-bottom: 28px;
      }

      &:hover{
        transition: all .35s ease-in-out;
        
        .sf-home__services__item__icon{
          transition: all .35s ease-in-out;
          background-color: $sf-blue;
        }
        .sf-home__services__item__title{
          transition: all .35s ease-in-out;
          color: $sf-blue;
        }
      }
    }
  }

  &__platform{
    &__text{
      padding: 15% 0;
      p{
        margin: 32px 0 50px;
      }
    }
    &__img{
      img{
        width: 100%;
      }
    }
  }
}