.sf-btn {
  &.right-arrow {
    color: $sf-blue-dk;
    font-weight: 700;
    text-decoration: none;
    transition: all .35s ease;
    padding: .5em .8em;
    position: relative;
    text-decoration: none;


    &::before,
    &::after {
      content: '';
      height: 14px;
      width: 14px;
      position: absolute;
      transition: all .35s ease;
      opacity: 0;
    }

    &::before {
      content: '';
      right: 0;
      top: 0;
      border-top: 3px solid $sf-blue-dk;
      border-right: 3px solid $sf-blue;
      transform: translate(-100%, 50%);
    }

    &:after {
      content: '';
      left: 0;
      bottom: 0;
      border-bottom: 3px solid $sf-blue;
      border-left: 3px solid $sf-blue-dk;
      transform: translate(100%, -50%)
    }

    &:hover:before,
    &:hover:after {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  &.gradient{
    font-weight: 600;
    color: $sf-white;
    cursor: pointer;
    height: 55px;
    text-align:center;
    text-decoration: none;
    border: none;
    background-size: 300% 100%;
    padding: 20px 40px;

    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #514fd3, #2e2bc7, #0F0BC7);
    box-shadow: 0 4px 15px 0 rgba(14, 10, 199, .75);
    &:hover {
      background-image: linear-gradient(to right, #0F0BC7,#2e2bc7, #514fd3, #25aae1);
      background-position: 100% 0;
      transition: all .4s ease-in-out;
  }
  &:focus {
    outline: none;
}
  }
  &.blue{
    background-color: $sf-blue;
    padding: 10px;
    border-radius: 5px;
    &:hover{
      background-color: $sf-blue-dk;
    }
  }
}