$sf-blue: #2272FF;
$sf-blue-dk: #1247a1;
$sf-navy: #040335;
$sf-white: #f5f5f5;
$sf-gray-lg: #adadad;
$sf-gray-dk: #2e2e2e;
$sf-black: #0e0e0e;
$sf-gradient: linear-gradient(107deg, #2272FF 0%, #1247a1 100%);